.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px; /* grande distanciamento */
}

/* Articuno no canto superior esquerdo */
.articuno {
    grid-row: 1;
    grid-column: 1;
}

/* Zapdos no centro */
.zapdos {
    grid-row: 2;
    grid-column: 2;
}

/* Moltres no canto inferior direito */
.moltres {
    grid-row: 3;
    grid-column: 3;
}
